:host 
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
mk-scroller 
{
    flex-grow: 1;
}
.container
{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}
.track 
{
    display: flex;
    margin-bottom: 30px;
}
.icon 
{
    margin: 0px 10px 10px 10px;
}
.title 
{
    font-size: large;
}
span
{
    margin-right: 10px;
}

