<button mkClickAnimation [animatedColor]="'#e0e0ff'" 
    (onClickStart)="doHapticFeedback()" (onClickEnd)="start()" [disabled]="state != 0">Start</button>
<button mkClickAnimation [animatedColor]="'#e0e0ff'" 
    (onClickStart)="doHapticFeedback()" (onClickEnd)="display()" [disabled]="state != 2">Display</button>
<div class="filler"></div>
<button mkClickAnimation [animatedColor]="'#e0e0ff'" 
    (onClickStart)="doHapticFeedback()" (onClickEnd)="reset()" [disabled]="state != 2">Reset</button>
<button mkClickAnimation [animatedColor]="'#e0e0ff'" 
    (onClickStart)="doHapticFeedback()" (onClickEnd)="stop()" [disabled]="state != 2">Stop</button>