:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--display-body);
}

mk-scroller {
    flex-grow: 1;
}

.display {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    background: var(--display-background);
    color: var(--display-color);
}

.container {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}
.label {
    margin-left: 10px;
    margin-top: 10px;
}

.status {
    display: flex;
    justify-content: space-between;
}

.mainDisplay {
    display: flex;
    justify-content: center;
}

.content {
    font-size: 140px;
    font-weight: 600;
}

.contentSmall {
    font-size: 100px;
    font-weight: 400;
}

.gps-overlay {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1000;
}
